body, html {
    height: 100%;
    margin: 0;
    font-family: Garamond, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* Full height */
    height: 60%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
  .img1 { background-image: url("https://cdn.midjourney.com/7b57884c-4584-4e5d-a6e3-0241bea45fbf/0_2.webp");background-position: 40% 40%; }
  .img2 { background-image: url("https://cdn.midjourney.com/2387aef6-7dbd-4142-98e2-33fc9ccdb554/0_2.webp"); background-position: 40% 40%;}
  .img3 { background-image: url("https://cdn.midjourney.com/dba19230-8ad8-42f2-b48a-b68706019f63/0_2.webp");background-position: 75% 75%; }
  .img4 { background-image: url("https://cdn.midjourney.com/c3889b9b-3498-42fe-b9ff-bc9914742c42/0_3.webp"); background-position: 40% 40%;}
  .img5 { background-image: url("https://cdn.midjourney.com/1053e319-0bb7-47f7-baca-5bb325ff2ca2/0_3.webp"); background-position: 80% 75%;}
  .img6 { background-image: url("https://cdn.midjourney.com/c1a6bd67-d425-4025-95d6-bea2de2647bc/0_3.webp"); background-position: 40% 40%;}
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 70px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
  }
  a {
    text-decoration: none; /* Removes underline */
  }
  a:link {
    color: white; /* Specify the color for unvisited links */
  }
  
  a:visited {
    color: white; /* Specify the color for visited links */
  }